<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <%- style %>
</head>
<body class="auth-body">
  <div class="auth-wrapper">
    <%- body %>
  </div>
  <%- script %>
</body>
</html>